<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Analyzer</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>🚀 AI Resume Analyzer</h1>

    <p class="subtitle">
        Upload your resume and compare it with a job description
    </p>

    <form action="/upload"
          method="POST"
          enctype="multipart/form-data">

        <label class="upload-box">

            <input type="file"
                   name="resume"
                   required>

            <span>
                📄 Upload Resume (PDF)
            </span>

        </label>

        <textarea
            name="job_description"
            rows="8"
            placeholder="Paste Job Description Here..."
            required>
        </textarea>

        <button type="submit">
            Analyze Resume
        </button>

    </form>

</div>

</body>
</html>